name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-ios:
    name: Build iOS
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install mise
        uses: jdx/mise-action@v2
        with:
          install: true

      - name: Select Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Show Xcode version
        run: xcodebuild -version

      # - name: Install dependencies with Tuist
      #   run: tuist install

      # - name: Generate Xcode project with Tuist
      #   run: tuist generate

      - name: Build iOS
        run: |
          set -o pipefail && xcodebuild \
            -project Verse.xcodeproj \
            -scheme Verse \
            -configuration Debug \
            -destination 'generic/platform=iOS Simulator' \
            -skipMacroValidation \
            build | xcbeautify --renderer github-actions
